.box {
  background-image: url("hasnain.pngg.jfif");
  background-position: center;
  background-size:cover;
  background-repeat:no-repeat;
}
.container{
    display: flex;
}
h3{
    margin-left: 10px;
}